.outer{
    display: flex;
    justify-content: center;
    align-items: center;
.btn{
    text-align: center;
    .add-btn{
       
        background-color: #3A86FF;
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
        height: 30px;
        width: 100px;
        border-radius: 20px;
        margin-bottom:15%;
    }
}
}